<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    {% extends "base.html" %}
    {% block content %}

    <h1>About Us</h1>

    <h2>Welcome To Sayli's Restaurant.</h2>
    <p>We serve delicious food prepared with care.</p>
    <br />
    <p>At Sayli's Restaurant, every dish is an art blending global techniques with local ingredients.</p>
    <p>Experience elegant ambience, impeccable service, and flavors that linger.</p>

    {% endblock %}
</body>
</html>